<form [formGroup]="searchForm">
  <div class="">
    <eco-card class="" title="{{ 'list-view.searchFields' | translate }}">
      <div>
        <eco-text
          class="filterField"
          label="{{ 'list-view.tripNumber' | translate }}"
          formControlName="tripNumber"
          size="100"
          (change) = "checkFilledtripNumber()"
        ></eco-text><span (click)="cleartripNumber()" *ngIf="filledtripNumber"><fa-icon style="position:relative; right: 38px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
        <eco-text
          class="filterField"
          label="{{ 'list-view.vessel' | translate }}"
          formControlName="vessel"
          (change) = "checkFilledVessel()"
        ></eco-text><span (click)="clearVessel()" *ngIf="filledVessel"><fa-icon style="position:relative; right: 38px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
        <eco-text
          class="filterField"
          label="{{ 'list-view.concessionCode' | translate }}"
          formControlName="concessionCode"
          (change) = "checkFilledConcessionCode()"
        ></eco-text><span (click)="clearConcessionCode()" *ngIf="filledConcessionCode"><fa-icon style="position:relative; right: 38px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
        <eco-calendar
          class="filterField"
          label="{{ 'list-view.date' | translate }}"
          formControlName="date"
          dateFormat="dd/mm/yy"
          selectionMode="range"
          [minDate]="minDate"
          [maxDate]="maxDate"
          monthNavigator="true"
          yearNavigator="true"
          [yearRange]="yearRange"
          (click)="checkFilledDate()"
        ></eco-calendar><span (click)="clearDate()" *ngIf="filledDate"><fa-icon style="position:relative; right: 38px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
      </div>
      <div>
        <eco-autocomplete
          class="filterField"
          label="{{ 'list-view.loadingSite' | translate }}"
          formControlName="loadingSite"
          forceSelection="true"
          [options]="loadingSitesOptions"
          (click)="checkFilledLoadingSite()"
        ></eco-autocomplete><span (click)="clearLoadingSite()" *ngIf="filledLoadingSite"><fa-icon style="position:relative; right: 52px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
        <eco-text
          class="filterField"
          label="{{ 'list-view.destination' | translate }}"
          formControlName="destination"
          (change) = "checkFilledDestination()"
        ></eco-text><span (click)="clearDestination()" *ngIf="filledDestination"><fa-icon style="position:relative; right: 38px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
        <eco-autocomplete
          class="filterField"
          label="{{ 'list-view.destinationCountry' | translate }}"
          formControlName="destinationCountry"
          forceSelection="true"
          [options]="countryOptions"
          (click) = "checkFilledDestinationCountry()"
        ></eco-autocomplete><span (click)="clearDestinationCountry()" *ngIf="filledDestinationCountry"><fa-icon style="position:relative; right: 52px; top: 30px" [icon]="faTimesCircle"></fa-icon></span>
      </div>
      <div class="eco-button-group">
        <button type="submit" class="eco-button eco-button--blue" [disabled]="searchForm.pristine" (click)="search()"><fa-icon [icon]="faSearch"></fa-icon>  {{ 'list-view.search' | translate }}</button>
        <a> &nbsp; </a>
        <button type="button" class="eco-button eco-button--blue" [disabled]="searchForm.pristine" (click)="cancelFilter()">{{ 'list-view.cancel' | translate }}</button>
      </div>
    </eco-card>
  </div>
</form>

<div class="">
  <eco-card class="" title="{{ 'list-view.results' | translate }} [{{totalRecords}}]">
    <p-table  [lazy]="true"
              (onLazyLoad)="customPage($event)"
              [value]="registersList"
              [paginator]="true"
              [rows]="pageSize"
              [totalRecords]="totalRecords"
              [rowsPerPageOptions]="[10,25,50]"
              paginatorPosition="bottom"
              [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'tripNumber'">
            {{ 'list-view.tripNumber' | translate }}
            <p-sortIcon [field]="'tripNumber'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'vessel'">
            {{ 'list-view.vessel' | translate }}
            <p-sortIcon [field]="'vessel'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'concessionCode'">
            {{ 'list-view.concessionCode' | translate }}
            <p-sortIcon [field]="'concessionCode'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'date'">
            {{ 'list-view.date' | translate }}
            <p-sortIcon [field]="'date'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'loadingSite'">
            {{'list-view.loadingSite' | translate }}
            <p-sortIcon [field]="'loadingSite'"></p-sortIcon>
          </th>
          <th>{{ 'list-view.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-form>
        <tr>
          <td>{{form.tripNumber}}</td>
          <td>{{form.ship.name}}</td>
          <td>{{form.concessionHolder.concessionHolderNumber}}</td>
          <td>{{form.startDateTime | date:'yyyy-MM-dd'}}</td>
          <td>{{form.loadingSite.name}}</td>
          <td><button type="button" class="eco-button eco-button--blue" (click)="read(form)"><fa-icon [icon]="faBook"></fa-icon></button></td>
        </tr>
      </ng-template>
    </p-table>
    <p>&nbsp;</p>
    <button type="button" class="eco-button eco-button--blue" (click)="newForm()">{{ 'list-view.newForm' | translate }}</button>
  </eco-card>
</div>
