.filterField{
  display: inline-grid;
  margin-right: 20px;
  width: 20%;
}

.filterButton{
  display: inline-grid;
  margin-right: 20px;
}

.eco-button {
  display: inline-block;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 8px 18px;
  border-radius: 3px;
  background-color: #0372d1;
  color: #ffffff;
  text-align: center;
  font-weight: 300; }
.eco-button:hover {
  background-color: #0364b8; }
.eco-button:active {
  background-color: #02579f; }
.eco-button:disabled {
  background-color: #999;
  cursor: default; }

.eco-button-group {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap; }
.eco-button-group * {
  margin: 15px 0; }
.eco-button-group *:only-child {
  margin: 0 !important; }
.eco-button-group *:first-child {
  margin: 0 0 3px 0; }
.eco-button-group *:last-child {
  margin: 3px 0 0 0; }

